<div class="container">
    <div class="jumbotron">
        <h1>Deals For Steals!</h1>
        <h2> site will help you find the best meals, drinks, deserts and snacks for under $10!</h2>
    </div>
</div>

<div class="container">
    <div class="box">
        <div class="roll-in-left">
            {{!-- <div class="icon"><i class="fa fa-search" aria-hidden="true"></i> --}}
            </div>
            <h2>Press to see all deals!</h2>
        </div>
        <div class="box">
            <h2>Upload one of yours!</h2>
            <a href="/uploads">Upload</a>
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>