{{!-- header --}}
<a href="/">
    <div class="container header" id="login-header">
        <div class="jumbotron">
            <h1 class="textClipAnim" id="uploads-h1">THANK YOU</h1>
            <h3>For sharing your great deal!</h3>
            <div class="textAnimation"></div>
        </div>
    </div>
    </a>
    {{!-- nav options --}}
<div class="row go-to-page">
  <div class="col"></div>
  <div class="col text-right thank-you-text"><a href="/search">SEARCH DEALS</a></div>
  <div class="col thank-you-text"><a href="/newpost">UPLOAD ANOTHER</a></div>
  <div class="col"></div>
</div>
