<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Thank you for shairing your great deal!</h1>
        
        <p class="text-center"><i>don't forget to share this app with your friends!!</i></p>
    </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col text-right"><a href="/search/">SEE ALL DEALS</a></div>
  <div class="col"><a href="/uploads">UPLOAD MORE</a></div>
  <div class="col"></div>
</div>
