/* homepage background CSS */
body {
  /* background-color: #ffffff;  */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* color: purple; */
  width: 100vw;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #3AA7A0, #9FD9D0, #F7C9C0, #F34C50);
  background-size: 400% 400%;
  -webkit-animation: Gradient 12s ease infinite;
  -moz-animation: Gradient 12s ease infinite;
  animation: Gradient 12s ease infinite;
  font-family: 'Open Sans', sans-serif;
}

/* search and upload animation */
.container {
  position: relative;
  width: 1200px;
  /* height: 300px; */
  /* margin: 240px auto; */
  text-align: center;
  /* background: whitesmoke; */
}

/* .header-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  text-align: center;
} */

.header h1 {
  font-size: 8vw;
  margin-top: 5vh;
}

.header h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #434343;
}

.textClipAnim {
  color: #fff;
  font-weight: 300;
  background: linear-gradient(to right, #3AA7A0, #9FD9D0, #F7C9C0, #F34C50 50%, #F7C9C0, #9FD9D0, #3AA7A0);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 12s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mid-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 35%;
}
.mid-flex a {
  width: 270px;
  height: 270px;
}
.nav-tabs {
  display: table;
  margin: 0 auto;
}
.nav-item {
  display: inline-block;
}
.container .box {
  position: relative;
  width: calc(300px - 30px);
  height: calc(300px - 30px);
  /* background: #fffdaf; */
  background: whitesmoke;
  float: left;
  margin: 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  /* margin-top: 28rem; */
}
.header {
  height: 200px;
}
.mid-flex a {
  margin-top: -18%;
}
#login-container div h2, .signup, .login {
  text-align: center;
}
#login-container .col-md-6 {
  margin: 0 auto;
}
#login-container a {
  color: red;
}
.signup .form-group, .login .form-group {
  text-align: left;
}

.container .box h2 {
  padding-top: 20px;
}


.container .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  transition: 0.5s;
  z-index: 1;
  /* text-align: center; */
  /* border: 4px solid black; */
}

.container .box:hover .icon {
  top: 20px;
  right: calc(50% -40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  background: whitesmoke;


}
.container .box h4 {

  display: none;
}

/* homepage search and upload box hover */
.container .box:hover h4 {
  position: relative;
  top: 50%;
  display: inline;
  /* color: black; */
  color: #3AA7A0;
}

/* icons on homepage */
.container .box .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: black;

}

.list-group-item {
  line-height: 2.5;
}


#camera--sensor {
  display:none;
  margin: 0 auto;
  border-radius: 30px;
}

#camera--view {
  border-radius: 30px;
}

.form-check-input {
  width: 23px;
  height: 23px;
}

#container-cards {
  margin-left: 30px;
}

/* 
h1,
h2,
h3 {
  text-align: center;
} */

.jumbotron {
  background-color: whitesmoke;
}


/* background animation*/

body {
  width: 100wh;
  /* height: 90vh; */
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #3AA7A0, #9FD9D0, #F7C9C0, #F34C50);
  background-size: 400% 400%;
  -webkit-animation: Gradient 12s ease infinite;
  -moz-animation: Gradient 12s ease infinite;
  animation: Gradient 12s ease infinite;
  /* background-color: black; */
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* jumbotron font animation */
/* @font-face {
  font-family: 'ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
} */

.jumbotron {
  background: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  /* background-color: transparent;
  background-image: linear-gradient(0deg,#bbd3e2,#eedcfa);
	*background-image: url('http://sxrdev.com/uploads/images/code.png');
  background-size: cover; */
  padding: 0px;
  padding-top: 0px;
}

/* 
h2 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #697dff;
  font-size: 85px;
  line-height: 2.0;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 300;
  background: linear-gradient(to right, #3AA7A0, #9FD9D0, #F7C9C0, #F34C50);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5.0s linear infinite;
  display: inline-block;
} */

.textAnimation {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5.0s linear infinite;
  margin: 0px 64px;
  background: #F34C50;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }

}





/* h1, h4 {
	  color: #fff;
    font-size: 20px;
    line-height: 9.3;
    font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
    margin-top: 34px;
    font-weight: 300;
    background: linear-gradient(to right, #3AA7A0, #9FD9D0, #F7C9C0, #F34C50 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
   
    display: inline-block;
  } */

  /* search page____________________ */
/* search cards */
.card {
  border: 3px solid black;
  width: 350px;
  padding: 4px;
  margin: 10px;
  height: 500px;
  /* background: #f3dec6; */
  background-color: whitesmoke;
  overflow: hidden;
  position: relative;
  float: left;
  line-height: 1;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  /* height: 60% */
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  opacity: .7;
  color: black;
}

/* login  and signin page__________________________ */
#login-header {
  height: 200px;
}

#login-container {
 text-align: justify;
 margin-top: 30px;
 /* margin-left: 200px; */
}

/* New posts form page __________________________ */

#upload-container {
  text-align: justify;
  padding-top: 8%;
}
.jumbotron h3 {
  font-size: 3rem;
  margin: 5%;
  font-weight: bolder;
  text-shadow: 0 0 5px white;
  color: #5D5050;
}
/* #camera--view {
  margin-top: -250px;
  padding-top: 0px;
  position: relative;
  right: 100px;
} */
#camera-heading {
  margin: 2% auto;
}
#uploads-submit {
  width: 300px;
  background-color: black;
  color: whitesmoke;
}
#postForm {
  text-align: center;
}
#uploads-submit:hover {
  background-color: whitesmoke;
  color: black;
  border: 3px solid black;
}
.uploads-btn {
  background-color: whitesmoke;
  color: #3AA7A0;
  /* color: black; */
  border: 3px solid black;
}
.uploads-btn:hover {
  background-color: #3AA7A0;
  color: whitesmoke;
  border: 3px solid whitesmoke;
}
.custom-control-label {
  text-shadow: 0 0 5px white;
  font-size: 1.3rem;
  color: #5d5050;
}
.custom-control-inline {
  margin-bottom: 3%;
}
label {
  margin-bottom: 0;
}


/* thank you page_--------------------------- */
.go-to-page {
  margin-top: 10%;
}
.thank-you-text {
  font-size: 17px;
  padding: 20px;
  padding-top: 2%;
  border-top: 1px solid black;
  margin-top: 2%;
}
.thank-you-text a {
  padding: 2%;
}
.thank-you-text a:hover {
  border: 2px dashed white;
}
.textClipAnim {
  margin-bottom: 8%;
}

/* //Jorge ______________________*/
section.error {
  height: 350px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff4105;
  position: absolute;
  width: 70%;
  left: 9vw;
  bottom: -221px;
  box-shadow: 0 0 10px 0px #3b3b3b;
}

/* Show red borders when filled, but invalid */
input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);
  border-width: 4px;
}

/* Show green borders when valid */
input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
  border-width: 4px;
}

/* upload/take pic visibility option */
#uploadDiv,
#camera {
  display: none;
  text-align: center;
}
@media only screen and (max-width: 1350px) {
  /* .jumbotron h3 {
    margin-top: 10%;
  } */
  .textClipAnim {
    margin-bottom: 10%;
  }
}
@media only screen and (max-width: 1011px) {
  /* camera */
  #camera--view {
    margin-top: -400px;
    left: 150px;
  }
  #camera-heading {
    margin-left: 215px;
  }
  .jumbotron h3 {
    font-size: 2rem;
  }
  .textClipAnim {
    margin-bottom: 13%;
  }
  .thank-you-text {
    margin-top: 2%;
  }
}

@media only screen and (max-width: 768px) {

  /* jumbotron  */
  .header h1 {
    font-size: 5em;
    margin-top: 1vh;
    border-bottom: 4px solid #ededed;
  }

  .header h3 {
    font-size: 28px;
    font-weight: 300;
    color: #434343;
    width: 440px;
    margin: 0 auto;
  }

  /* login form */
  #login-container {
    margin-left: 25px;
  }
  #upload-container {
    text-align: left;
    padding-top: 25px;
    margin-left: 15px;

  }
  /* uploads form */
  #uploads-h1 {
    font-size: 50px;
  }

   /* camera */
   #camera--view {
    margin-top: -400px;
    left: 0px;
  }
  #camera-heading {
    margin-left: -13px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 571px) {
  .jumbotron {
    padding: 2rem 1rem;
    width: 90vw;
  }

  .header h1 {
    font-size: 3.5em;
  }

  .header h3 {
    width: auto;
    font-size: 5vw;
  }

  .mid-flex {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
  }

  /* login-page */
  .login-field {
    width: 80vw;
  }

/* uploads page */
  .uploads-input {
    width: 80vw;
  }
  #uploads-h1 {
    font-size: 35px;
  }

 /* camera */
 #camera--view {
    margin-top: -400px;
    position: relative;
    margin-left: -300px;
  }
  #camera-heading {
    margin-left: 0px;
  }
  #camera--trigger {
    margin-left: -300px;
  }
  /* #uploads-submit {
    margin-top: -300px;
  } */

  /* .jumbotron h3 {
    margin-top: 13%;
  } */
  .textClipAnim {
    margin-bottom: 13%;
  }
}

@media only screen and (max-width: 400px) {
  .thank-you-text {
    margin-top: 0;
  }
}